In [1]:
import pandas as pd
import json
from datetime import timedelta

In [2]:
timedelta(seconds=(80-15))

datetime.timedelta(0, 65)

In [3]:

strengths = pd.read_csv("data/strengths.csv", parse_dates=["Unnamed: 0"])
strengths["Time"] = strengths["Unnamed: 0"]
del strengths["Unnamed: 0"]

strengths["Time"] -= timedelta(seconds=(80-15))  # Remove 80 seconds due to start time, add 15 seconds for offset
strengths["Time"] = pd.to_datetime(strengths["Time"], format='%M:%S.%f').dt.time

In [4]:
strengths.head()

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,Time
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,00:00:15.500000
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,00:00:15.600000
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,00:00:15.700000
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,00:00:15.800000
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00:00:15.900000

In [5]:
strengths.set_index("Time", inplace=True)

In [6]:
strengths.tail()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
Time,,,,,,,,,,,,,,,,,,,,,
00:34:31.600000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0
00:34:31.700000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00:34:31.800000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
00:34:31.900000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0
00:34:32,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,0.0

In [7]:
scores = pd.read_csv("data/scores_matchsim.csv")
scores.head()

   time  score
0  2:40      1
1  3:45      6
2  5:20      6
3  6:34     -6
4  8:57     -1

In [8]:
scores.columns, scores.dtypes

(Index(['time', 'score'], dtype='object'), time     object
 score     int64
 dtype: object)

In [9]:
scores.head()

   time  score
0  2:40      1
1  3:45      6
2  5:20      6
3  6:34     -6
4  8:57     -1

In [10]:
scores["time"] = pd.to_datetime(scores["time"], format='%M:%S').dt.time

In [11]:
scores.dtypes

time     object
score     int64
dtype: object

In [12]:
from datetime import datetime
scores['score'][scores['time'] > datetime.strptime("00:24:25", "%H:%M:%S").time()] *= -1

for column in strengths.columns:
    strengths[column][strengths.index > datetime.strptime("00:24:25", "%H:%M:%S").time()] *= -1

/home/robert/Programs/anaconda3/envs/hack/lib/python3.5/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [13]:
strengths.tail()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
Time,,,,,,,,,,,,,,,,,,,,,
00:34:31.600000,-0.0,-0.0,-1.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-1.0,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,1.0,-0.0,-0.0,-0.0
00:34:31.700000,-0.0,-0.0,-1.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-1.0,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
00:34:31.800000,-0.0,-0.0,-1.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-1.0,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0
00:34:31.900000,-0.0,-0.0,-1.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,1.0,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,1.0,-0.0,-0.0,-0.0
00:34:32,-0.0,-0.0,-1.0,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,1.0,...,-0.0,-0.0,-0.0,-0.0,-0.0,-0.0,1.0,-0.0,-0.0,-0.0

In [14]:
scores

        time  score
0   00:02:40      1
1   00:03:45      6
2   00:05:20      6
3   00:06:34     -6
4   00:08:57     -1
5   00:09:47      6
6   00:11:43     -6
7   00:15:27      6
8   00:17:11     -6
9   00:19:56      6
10  00:24:21     -6
11  00:25:24     -6
12  00:27:05      6
13  00:28:18      1
14  00:30:03      1
15  00:31:18     -6
16  00:32:35      1
17  00:37:00      6
18  00:37:58      6
19  00:39:15     -6
20  00:41:24      6
21  00:43:28     -6
22  00:48:24     -6

In [15]:
scores.set_index("time", inplace=True)

# Match up scores to strengths


The class value for a given position is the next score, if that score happened within 30 seconds.

Offsets have been applied as per loading, so they should match up.

In [16]:
strengths.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
Time,,,,,,,,,,,,,,,,,,,,,
00:00:15.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
00:00:15.600000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
00:00:15.700000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
00:00:15.800000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
00:00:15.900000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
#scores.set_index("time", inplace=True)

In [19]:
scores.head()

          score
time
00:02:40      1
00:03:45      6
00:05:20      6
00:06:34     -6
00:08:57     -1

In [20]:
from datetime import timedelta, datetime, date

In [38]:
n_done = 0

strengths['y'] = 0
per_position_scores = []
for time, row in strengths.iterrows():
    end_time = (datetime.combine(date.today(), time) + timedelta(seconds=30)).time()
    score_positions = (scores.index >= time) & (scores.index <= end_time)
    
    cur_score = 0
    if len(scores[score_positions]):
        cur_score = scores[score_positions].ix[0]['score']
    strengths.set_value(time, 'y', cur_score)

In [39]:
strengths.head()

,0,1,2,3,4,5,6,7,8,9,...,97,98,99,100,101,102,103,104,105,y
Time,,,,,,,,,,,,,,,,,,,,,
00:00:15.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0
00:00:15.600000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0
00:00:15.700000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
00:00:15.800000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
00:00:15.900000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [40]:
strengths['y'].unique()

array([ 0,  1,  6, -6, -1])

# ML

In [41]:
strengths.shape

(20566, 107)

In [42]:
cols = [column for column in strengths.columns if column != 'y']
X = strengths[cols].values
y = strengths["y"].values

In [43]:
X.shape

(20566, 106)

In [53]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y)
threequarters = int(len(X) * 0.75)
X_train = X[:threequarters]
X_test = X[threequarters:]
y_train = y[:threequarters]
y_test = y[threequarters:]

In [54]:
from sklearn.ensemble import RandomForestClassifier

In [62]:
model = RandomForestClassifier(n_estimators=500)

In [63]:
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=500, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [64]:
y_pred = model.predict(X_test)

In [65]:
(y_pred == y_test).all()

False

In [66]:
y_pred is y_test

False

In [67]:
from sklearn.metrics import classification_report

In [68]:
print(classification_report(y_true=y_test, y_pred=y_pred))

             precision    recall  f1-score   support

         -6       0.07      0.02      0.03       301
          0       0.71      0.98      0.82      3637
          1       0.00      0.00      0.00       903
          6       0.00      0.00      0.00       301

avg / total       0.50      0.70      0.58      5142

/home/robert/Programs/anaconda3/envs/hack/lib/python3.5/site-packages/sklearn/metrics/classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)